{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Website</title>
        
        <!-- Подключаем статические css-стили для общего html-шаблона -->
        <link rel="stylesheet" href="{% static 'main_app/css/layout_styles.css' %}">

        <!-- Создаём тег <style> для стилизации дополнительного контента, добавленного через Jinja `block content` в `html > body > .main` -->
        <style>
            /* Additionaly Stylization For New Content Start*/
            {% block content_stylization %}
            {% endblock %}
            /* Additionaly Stylization For New Content End*/
        </style>
    </head>

    <body>
        <div class="main">
            <!-- New Content Start -->
            {% block content %}
            {% endblock %}
            <!-- New Content End -->
        </div>
    </body>
</html>
